doctype html
html.no-js(lang='zxx')
    head
        //- Mobile Specific Meta
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //- Favicon
        link(rel='shortcut icon', href='img/fav.png')
        //- Author Meta
        meta(name='author', content='Colorlib')
        //- Meta Description
        meta(name='description', content='')
        //- Meta Keyword
        meta(name='keywords', content='')
        //- meta character set
        meta(charset='UTF-8')
        //- Site Title
        title Еленькі 22
        link(href='https://fonts.googleapis.com/css?family=Poppins:100,300,500', rel='stylesheet')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    body
        .oz-body-wrap
            section.banner-area.relative
                .container
                    .row.fullscreen.align-items-center.justify-content-center(style="min-height: 550px")
                        .banner-left.col-lg-6
                            img.d-flex.mx-auto.img-fluid(src='/img/elen13.jpg', alt='')
                        .col-lg-6
                            .story-content
                                h6.text-uppercase Вітаннячко з Днюшкою
                                h1
                                    | Іващенко 
                                    span.sp-1 Олена
                                    br
                                    |                                 Подарунок: 
                                    span.sp-2 Абонемент
                                a.genric-btn.primary.circle.arrow(href='http://jumpinghall.com/kontakty/', target='_blank')
                                    | На батути
                                    span.lnr.lnr-arrow-right
                                br
                                br
                                h6.text-uppercase PS. Нарешті забереш свої тапки)
