footer
    nav.navbar.navbar-default.navbar-fixed-bottom
        .container
            p.navbar-text
                |  Як говорить інтернет: "Всі права захищені" :)
            p.navbar-text.navbar-right
                block footerRightPart
                    a.navbar-link(href='https://t.me/slaawwa', target='_blank') Slaawwa
                    |  &copy; 2013 - 2018
                    //- |  2013. Як говорить інтернет "Всі права захищені" :)
