footer
    nav.navbar.navbar-default.navbar-fixed-bottom
        .container
            p.navbar-text.navbar-right
                a.navbar-link(href='https://t.me/slaawwa', target='_blank') Slaawwa
                | © 2018
