include _var
include _mixin

doctype html
html(ng-app='app')
    head
        meta(charset="utf-8")
        block _head
            //- link(rel='icon', type='image/jpeg', href='/admin/static/img/favicon.png')
            block head
                if title
                    title= title + ' | Karma'
                else
                    title Karma
            meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
            meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
            link(rel='icon', type='image/png', href='/static/admin/favicon-16x16.png', sizes='16x16')

            block _endHead
                +style(
                    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css',
                    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css',
                    '/static/admin/style.css'
                )
                    //- 'https://fonts.googleapis.com/icon?family=Material+Icons',
                    //- '/admin/static/node_modules/material-design-lite/material.cyan-light_blue.min.css',
                block styles
    body(ng-controller='MainCtrl as Main')

        #content

            block header
                include ../partials/adminHeader.pug

            main
                block content
                    | !{content}

            block footer
                include ../partials/foot

        block _endBody
            //- 'https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js',
            //- +script(
                '//code.jquery.com/jquery-3.2.1.min.js',
                'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js',
            +script(
                    '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js',
                    '//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',
                    '//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.7/angular.min.js'
                )

            block scripts