extends ../../layout/layout

block append _var
    - 
        title = 'Best Practice' + (_title? ' &bullet; '+_title: '')
        header = 'appHeader'
        footer = 'appFooter'
    //- title= title

//- block styles
    style.
        #tools-for-frontend-my-best-feature {
            font-weight: 700;
        }

block content
    .row
        .col-md-3
            ul#leftMenu.nav.nav-pills.nav-stacked.sPage(:style='menu.left.style')
                li
                    strong Welcome to programing
                li(:class='{active: item.active}', v-for='item in menu.left.items', v-if='item.show')
                    a(:href='item.url9 || item.ajax || item.link', @click.prevent='menuClick(item)')
                        i.glyphicon(:class="'glyphicon-'+item.icon")
                        | 
                        | {{ item.name }}
        .col-md-9
            ol.breadcrumb.sPage.row(v-if='menu.top.items.length')
                li
                    a(
                            :href='menu.top.current.ajax || menu.top.current.link'
                            @click.prevent='menuClick(null, true)'
                        )
                        i.glyphicon.glyphicon-home
                li(
                        v-for='(item, index, last = menuIsLast(index)) in menu.top.items'
                        :class='{active: last}'
                    )
                    a(v-if='item.link', :href='item.link', @click.prevent='menuClick(item, true)')
                        i.glyphicon(:class="'glyphicon-'+item.icon")
                        | {{ item.name }}
                    span(v-else='')
                        | {{ item.name }}
                    //- | {{ item.name }}
            .row
                .col-md-12.sPage
                    //- Content:
                    //- <pre>{{content | json}}</pre>
                    //- MenuLeftStyle:
                    //- <pre>{{menu.left.style | json}}</pre>


                    iframe.iframe(v-if='content.link', :src="content.link+'?v='+Math.random()", :style='contentStyle')
                    div(v-else-if='content.ajax')
                        p(v-if='content.html' v-html="content.html")
                        p(v-else='') Завантаження...
                    div(v-else='')
                        //- p!= htmlWebpackPlugin.options.content
                        | Щось сталося:( Нажаль сторінку не знайдено(
            //- hello
    //- #app
        //- p(v-html='m')
    //- p!= htmlWebpackPlugin.options.content
block _end
//- block scripts
    //- +script('https://cdn.jsdelivr.net/npm/vue')
//- doctype html
//- html
    head
        meta(charset='utf-8')
        title 
    body
        //- p= htmlWebpackPlugin.options.title || 'Webpack App' 
        p!= htmlWebpackPlugin.options.content
        h1 Test vueJS
        #app
            //- p(v-html='m')
            hello
